body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
h1{
    color: white;
}

a {
    margin: 40px;

    color:  #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;


}
a:hover{color: #2fdf4c;

}
button {
    font-size: 24px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
button:hover {

    width: 95px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
.confirm-button {
    background-color: #13ad2d;
    color: black;
    font-size: 15px;
    border-radius: 15px;
    width: 90px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.confirm-button:hover {
    background-color: #06b30f;
    width: 95px;
    font-size: 17px;
    color: white;
}
.apagar-button {
    background-color: #d61111fa;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
    margin: 5px;
}
.apagar-button:hover {
    background-color: #ff0000;
    width: 90px;
    font-size: 17px;
    color: white;
}
.limpar-button {
    background-color: #ffffffe3;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
    margin: 5px;
}
.limpar-button:hover {
    background-color: #3a3939;
    color: rgb(255, 255, 255);
    width: 90px;
    font-size: 17px;
}
.card-fundo {
    margin: 0 auto;
    width: 340px;
  height: 320px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(9, 22, 136, 0.336);
    box-shadow: 8px 8px 35px rgb(2, 0, 3); 

}
    #largo {
    font-size: 24px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
#largo:hover {

    width: 305px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
#candidato-numero {
    padding: 11px;
    width: 290px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(253, 253, 253);

}
.logo{
    max-width: 300px;

    margin: 0 auto;

}
.botão-especial{
margin-top: 13px;

}
.botão-padrão{
    margin-top: 9px;

}
.zero{
    margin-top: 7px;
}


.mensagem-erro {
    color: rgb(228, 10, 10);
    margin-top: 1px;
    font-size: 15px;
    display: none; 
}
.links{

    margin-top: 13px;
}
dialog::backdrop{
    background-color: rgb(7, 7, 85);
    opacity: 0.5;
}
dialog{

    width: 30%;
    height: 25%;
    border-radius: 20px;

}
.ok{
    background-color: rgb(54, 42, 231);
    color: rgb(246, 242, 247);
   width: 65px;
   height: 50px;
   margin: 10px;
   border-radius: 10px;
border: none;
}
.ok:hover{
    background-color: #13ad2d;
    width: 68px;
    height: 53px;
transition: 1s;

}
#Excluir::backdrop{
    background-color: rgb(7, 7, 85);
    opacity: 0.5;
}
@media (min-width:340px) and (max-width:500px){

    .botãopadrão{
        margin-left: 100px;
    }
    h1{
    margin-left: 10px;    
    }
    img{
     width: 220px; 
     margin-right: 88px;

    }
    .card-fundo{

    width: 250px;
  height: 300px;
    padding: 30px;
    border-radius: 30px;


    }
    button {
        font-size: 24px;
        width: 70px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;

        margin: 5px;
    }
    button:hover {

        width: 71px;
        font-size: 27px;
        height: 45;

        transition: background-color 1s;
    }
    #largo {
        font-size: 24px;
        width: 230px;
        height: 45px;
        border-radius: 15px;

        margin: 1px;
    }
    #largo:hover {

        width: 232px;
        font-size: 27px;
        height: 47px;

    }
    #candidato-numero {
      width: 215px;

    }
    .confirm-button {
        width: 67px;
        height: 40px;
        font-size: 11px;




}
.botão-especial{
    margin-top: 2px;

    }
.apagar-button {


    font-size: 13px;


    width: 65px;
    height: 40px;
}
.limpar-button {

    font-size: 13px;
    border-radius: 15px;

    width: 62px;
    height: 40px;

}
.confirm-button:hover{

    width: 69px;
    font-size: 13px;

}
.apagar-button:hover {

    width: 67px;
    font-size: 14px;

}
    .limpar-button:hover {

        width:64px;
        font-size: 14px;
    }




dialog{

    width: 50%;
    height: 25%;
    border-radius: 10px;

}
.ok{
    background-color: rgb(54, 42, 231);
    color: rgb(246, 242, 247);
   width: 65px;
   height: 50px;
   margin: 0 auto;
   border-radius: 10px;
border: none;
}
.ok:hover{
    background-color: #13ad2d;
    width: 68px;
    height: 53px;
transition: 1s;

}
#Excluir::backdrop{
    background-color: rgb(7, 7, 85);
    opacity: 0.5;
}
}