body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
h1{
    color: white;
}

a {
    margin: 40px;
   
    color:  #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    
}
a:hover{color: #2fdf4c;

}
button {
    font-size: 24px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
button:hover {
    
    width: 95px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
.confirm-button {
    background-color: #13ad2d;
    color: black;
    font-size: 15px;
    border-radius: 15px;
    width: 90px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.confirm-button:hover {
    background-color: #06b30f;
    width: 95px;
    font-size: 17px;
    color: white;
}
.apagar-button {
    background-color: #d61111fa;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
    margin: 5px;
}
.apagar-button:hover {
    background-color: #ff0000;
    width: 90px;
    font-size: 17px;
    color: white;
}
.limpar-button {
    background-color: #ffffffe3;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
    margin: 5px;
}
.limpar-button:hover {
    background-color: #3a3939;
    color: rgb(255, 255, 255);
    width: 90px;
    font-size: 17px;
}
.card-fundo {
    margin: 0 auto;
    width: 340px;
  height: 320px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(9, 22, 136, 0.336);
    box-shadow: 8px 8px 35px rgb(2, 0, 3); 
  
}
    #largo {
    font-size: 24px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
#largo:hover {
   
    width: 305px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
#candidato-numero {
    padding: 11px;
    width: 290px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(253, 253, 253);
   
}
.logo{
    max-width: 300px;
    
    margin: 0 auto;
 
}
.botão-especial{
margin-top: 13px;

}
.botão-padrão{
    margin-top: 9px;

}
.zero{
    margin-top: 7px;
}
    

.mensagem-erro {
    color: rgb(228, 10, 10);
    margin-top: 1px;
    font-size: 15px;
    display: none; 
}
.links{

    margin-top: 13px;
}
