/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    /* mexer nessas fonts*/
    
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}

body{
    background-color: #202349;
    height: 100vh;
}

.interface{

    max-width: 1280px;
    margin: 0 auto;
}

.flex{

display: flex;

}

main .btn-contato button{

  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #1dd1f1;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
  }

  h2.titulo{

    color: #ffffff;
    font-size: 34px;
    text-align: center;
  }
  h2.titulo span{

    color: #1dd1f1;
  }

/*ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{ 
 
color: #1dd1f1;
text-decoration: none;
display: inline-block;
transition: .2s;
}

header a:hover{

color: #ffffff;
transform: scale(1.05);

}

header nav ul{

list-style-type: none;

}

header nav ul li{

display: inline-block;
padding: 0 30px;
text-align: center;
}

.btn-contato button:hover{

box-shadow: 0px 0px 8px #1daaf1;
transform: scale(1.05);
}

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{

padding: 40px 4%;

}

section.topo-do-site .flex{

align-items: center;
justify-content: center;
gap: 90px;
}

.topo-do-site h1{

color: #ffffff;
font-size: 34px;
line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{

color: #1daaf1;
}

.topo-do-site .txt-topo-site p{

color: #ffffff;
margin: 40px 0px;

}

.topo-do-site .img-topo-site img{

position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
border-radius: 15px;
}



@keyframes flutuar{

0%{
  top: 0;
}
100%{
  top: 30px;
}
}

/*ESTILOS DAS ESPECIALIDADES*/

section.especialidades{

  padding: 60px 4%;
  
}

section.especialidades .flex{

  gap: 60px;

}


.especialidades .especialidades-box{

  color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
  margin-left: 80px;
}

.especialidades .especialidades-box:hover{

  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff78;
}

.especialidades .especialidades-box i{

  font-size: 70px;
  color: #1daaf1;
}



.menu-desktop{

margin: 20px 296px 60px ;
}

.img{

  height: 170px;
  width: 170px;
  object-fit: cover;
}


/*responsividadee*/

@media (min-width:340px) and (max-width:500px)  { 
 
 .flex{
  flex-direction: column-reverse;
 
  
 }
 
  /*imagem vote*/ 
  .topo-do-site .img-topo-site img{
    width: 190px;
   margin-right: -1


  
  }
  #h1-bemvindo{
font-size: 23px;
  }
  
  p{
    font-size: 20px;
    margin-left: 30px;
  }
  .especialidades-box{
    display:flex;
  }

  /*logo da escola*/

 .img{
  margin-left: -490px; 
  max-width: 170px;
 
  }

.menu-desktop{
  
  margin-left: 100px;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  60px;   
 }
 ul{
  display: flex;
  gap: 0px;
  width: 90%;
  font-size: 16px;
  justify-content: space-around;
  
 

 }
 .interface{
  display: flex;
  flex-direction: column;


 }
 
 header{
  display: flex;
  flex-direction: column;
  
 }
 
 /*clube tutoria gremio*/

 header a{
font-size: 15px;
margin: 15px -100px 30px 30px;
margin-left: -30px;
 }

}

