body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.card-senha {
    margin: 0 auto;
    width: 455px;
    height: 155px;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    border-radius: 30px;
   
    box-shadow: 2px 2px 200px rgb(2, 0, 3);
    background: linear-gradient(90deg, rgb(9, 2, 92) 0%, rgba(17,17,147,1) 35%, rgb(3, 3, 102) 100%);

}

#ra {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
}

button {
   
    color: rgb(247, 240, 240);
    border: 1px solid rgb(0, 0, 0);
   width: 200px;
   height: 50px;
   margin: 20px;
   background-color: #1034d6;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0 auto;
}
button:hover {
    
    background-color: #31e23a;
    color: rgb(250, 244, 244);

}




.logo {
    max-width: 300px;
    margin-top: 0 auto;
   
}
h1 {
    color: white;
    margin-top: 0 auto;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
a:hover {
    color: #16df0f;
}
.error-message {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 15px;
    display: none; 
   
}
dialog::backdrop{
    background-color: rgb(3, 3, 36);
    opacity: 0.5;
    

}
dialog{
    width:  50%;
    border-radius: 15px;
    
}
.ok{
    background-color: rgb(54, 42, 231);
    color: rgb(246, 242, 247);
   width: 250px;
   height: 60px;

}
p{
    font-size: 25px;
}
#digito {
    background-color: #fdfdfd;
    color: #000000;
    width: 45px;
    height: 45px;
    border: 2px solid #12024b ; 
    border-radius: 15px;
    transition: 0.3s; 
    cursor: pointer;
}
@media (min-width:340px) and (max-width:500px){





    .card-senha {
        margin: 0 auto;
        width: 280px;
        height: 110px;
        border: 1px solid rgb(0, 0, 0);
        padding: 25px;
        border-radius: 10px;
       
        
    
    }
    
    #ra {
        
        width: 200px;
        height: 30px;
        font-size: 17px;
       
    }
    
    button {
       
        color: rgb(247, 240, 240);
        border: 1px solid rgb(0, 0, 0);
       width: 120px;
       height: 40px;
       margin: 20px;
       background-color: #1034d6;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 0 auto;
    }
    button:hover {
        
        background-color: #31e23a;
        color: rgb(250, 244, 244);
    
    }
    
    
    
    
    .logo {
        max-width: 250px;
        margin-top: 0 auto;
       
    }
    h1 {
        color: white;
        margin-top: 0 auto;
    }
    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 13px;
      
    }
    a:hover {
        color: #16df0f;
    }
    .error-message {
        color: rgb(255, 255, 255);
        
        font-size: 13px;
        display: none; 
       
    }
    dialog::backdrop{
        background-color: rgb(3, 3, 36);
        opacity: 0.5;
        
    
    }
    dialog{
        width:  35%;
        border-radius: 10px;
        
    }
    .ok{
        background-color: rgb(54, 42, 231);
        color: rgb(246, 242, 247);
       width: 100px;
       height: 40px;
       margin: 0 auto;

    
    }
    
    
    #digito {
        background-color: #fdfdfd;
        color: #000000;
        width: 50px;
        height: 40px;
        border: 2px solid #12024b ; 
        border-radius: 15px;
        transition: 0.3s; 
        cursor: pointer;
    }


.link{

    margin-top: -10px;
}


}