body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
h1{
    color: white;
}

a {
    margin: 40px;

    color:  #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

}

button {
    font-size: 24px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    border: none;
    margin: 2px;
    border: 1px solid rgb(0, 0, 0);
}
button:hover {

    width: 155px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
.confirm-button {
    background-color: #13ad2d;
    color: black;
    font-size: 15px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.confirm-button:hover {
    background-color: #06b30f;
    width: 155px;
    font-size: 17px;
    color: white;
}
.apagar-button {
    background-color: #d61111fa;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s;
    margin: 5px;
}
.apagar-button:hover {
    background-color: #ff0000;
    width: 155px;
    font-size: 17px;
    color: white;
}

.card-fundo {
    margin: 0 auto;
    width: 340px;
  height: 250px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(9, 22, 136, 0.336);
    box-shadow: 8px 8px 35px rgb(2, 0, 3); 

}
    .largo {
    font-size: 24px;
    width: 300px;
    height: 50px;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 2px;
}
.largo:hover {

    width: 305px;
    font-size: 27px;
    height: 50;
    color: black;
    background-color: white;
    transition: background-color 1s;
}
#candidato-numero {
    padding: 11px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(253, 253, 253);

}
.logo{
    max-width: 300px;

    margin: 0 auto;

}
.botão-especial{
margin-top: 10px;

}
.botão-padrão{
    margin-top: 9px;

}
.zero{
    margin-top: 20px;
}



.links{

    margin-top: 13px;
}
dialog::backdrop{
    background-color: rgb(7, 7, 85);
    opacity: 0.5;
}
dialog{

    width: 30%;
    height: 25%;
    border-radius: 20px;

}
.ok{
    background-color: rgb(54, 42, 231);
    color: rgb(255, 255, 255);
    width: 75px;
    height: 53px;
   margin: 10px;
   border-radius: 25px;
   margin-top: 105px;

}
.ok:hover{
    width: 75px;
    height: 53px;
    background-color: rgb(54, 42, 231);
    border: none;


}
#Excluir::backdrop{
    background-color: rgb(7, 7, 85);
    opacity: 0.5;
}



@media (min-width:340px) and (max-width:500px){
    .card-fundo{
        width: 250px;
        height: 260px;
    }
    #candidato-numero{
        width: 210px;
    }
    #btn150{
        width: 150px;
        margin-top: -18px;
    }
    #confirmar{
        width: 80px;
    }
    #excluir{
        width: 75px;
    }
    .botão-especial{
        display: inline;
    }
    #erroConfirmar{
        width: 75%;
        height: 200px;
    }
    .ok{
        margin-top: 20px;
    }
    #votoConfirm{
        font-size: 20px;
    }
    dialog{
        width: 150px;
        height: 160px;
    }
}
