
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;}
h1{
    color: white;
}

a {
    margin: 5px;
    padding: 2px;
    color:  #f1e6f1;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    
}
a:hover{color: #2ab942;

}
button {
    font-size: 24px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(14, 71, 136);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
button:hover {
    
    width: 90px;
    font-size: 27px;
    height: 50;
    transition: background-color 0.5s;
}
.confirm-button {
    background-color: #19a576d2;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.confirm-button:hover {
    background-color: #45a049;
    width: 90px;
    font-size: 17px;
}
.apagar-button {
    background-color: #c52222e3;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    transition: background-color 0.3s;
    margin: 5px;
}
.apagar-button:hover {
    background-color: #8d1111;
    width: 90px;
    font-size: 17px;
}
.limpar-button {
    background-color: #eed4c5e3;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    transition: background-color 0.3s;
    margin: 5px;
}
.limpar-button:hover {
    background-color: #868080;
    width: 90px;
    font-size: 17px;
}
.card-fundo {
    margin: 0 auto;
    width: 300px;
  
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.164);
}
    #largo {
    font-size: 24px;
    width: 255px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(14, 71, 136);
    color: rgb(238, 227, 227);
    transition: background-color 0.3s;
    margin: 5px;
}
#largo:hover {
   
    width: 260px;
    font-size: 27px;
    height: 50;
    transition: background-color 0.5s;
}
#candidato-numero {
    padding: 11px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(185, 175, 175);
   
}
.logo{
    max-width: 300px;
    
    margin: 0 auto;
 
}

    

.mensagem-erro {
    color: red;
    margin-top: 10px;
    font-size: 15px;
    display: none; 
}
